.ipynb_checkpoints
.vscode
web_crawler/web_crawler/__pycache__
web_crawler/web_crawler/spiders/__pycache__
crawler-dashboard/__pycache__
web_crawler/logs
crawler-dashboard\templates
notebook
rss_scraper
rssList.csv
*.log